/*-- scss:defaults --*/


/*-- scss:rules --*/

.bslib-page-title {
  font-size: 3rem;
  background-color: #006D6F;
  color: #FADA5E;
}

.bslib-value-box .value-box-title {
  font-size: 1.3rem
}

.my-pop {
  max-width: none;
}